@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
header {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

header nav {
  list-style: none;
  display: flex;
  justify-content: left;
  align-items: center;
}
header nav li {
  padding-left: 10px;
}
header nav li a {
  text-decoration: none;
  color: #9e9aa7;
  font: normal normal 500 16px/25px Poppins;
}
header .btn {
  background-color: #2acfcf;
  padding: 0.5rem;
  width: 40%;
  border: none;
  outline: none;
  border-radius: 20px;
  color: #ffff;
  font: normal normal 500 16px/25px Poppins;
}
header .btn.login {
  background-color: transparent;
  color: #9e9aa7;
}

main {
  margin-top: 3rem;
}

main #intro {
  position: relative;
}
main #intro .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
main #intro .content h1 {
  font: normal normal 700 50px/55px Poppins;
  color: #232127;
}
main #intro .content p {
  font: normal normal 400 20px/35px Poppins;
  color: #9e9aa7;
}
main #intro .content button {
  background-color: #2acfcf;
  padding: 0.5rem;
  width: 40%;
  border: none;
  outline: none;
  border-radius: 20px;
  color: #ffff;
  font: normal normal 500 16px/25px Poppins;
}
main #intro .image img {
  max-width: 90%;
}
main #shortening {
  background: rgba(191, 191, 191, 0.2);
  padding: 2rem 0;
  margin-top: 7rem;
  position: relative;
}
main #shortening .form-url {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./images/bg-shorten-desktop.svg") #3b3054 no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2rem;
  border-radius: 10px;
  position: absolute;
  width: 83%;
  top: -65px;
}
main #shortening .form-url input {
  border-radius: 5px;
  outline: none;
  border: none;
  width: 78%;
  padding: 0.5rem;
  color: #9e9aa7;
  font: normal normal 300 16px/25px Poppins;
  position: relative;
}
main #shortening .form-url input.error {
  border: 1px solid #f46262;
}
main #shortening .form-url .error-msg {
  color: #f46262;
  font: normal normal 400 16px/20px Poppins;
  padding: 1rem 0;
  display: none;
  position: absolute;
  bottom: -23px;
  left: 82px;
}
main #shortening .form-url button {
  background-color: #2acfcf;
  padding: 0.5rem;
  width: 40%;
  border: none;
  outline: none;
  border-radius: 20px;
  color: #ffff;
  font: normal normal 500 16px/25px Poppins;
  width: 12%;
  border-radius: 5px;
  margin-left: 10px;
}
main #shortening .row:nth-child(2) {
  margin-top: 1rem;
}
main #shortening .text h2 {
  font: normal normal 700 50px/55px Poppins;
  color: #232127;
}
main #shortening .text p {
  font: normal normal 400 20px/35px Poppins;
  color: #9e9aa7;
  padding: 0 17rem;
}
main #shortening .card-body {
  background-color: #fff;
  position: relative;
}
main #shortening .card-body h4 {
  font: normal normal 700 20px/35px Poppins;
  color: #232127;
  margin-top: 3rem;
}
main #shortening .card-body p {
  font: normal normal 400 15px/25px Poppins;
  color: #9e9aa7;
  padding: 0 1rem 0 0;
}
main #shortening .col-lg-4:nth-child(2) .card-body {
  margin-top: 3rem;
}
main #shortening .col-lg-4:nth-child(3) .card-body {
  margin-top: 5rem;
}
main #shortening .col-lg-4:not(.col-lg-4:nth-child(3)) .card-body::after {
  content: "";
  background-color: #2acfcf;
  position: absolute;
  width: 24px;
  height: 10px;
  bottom: 120px;
  right: -24px;
}
main #shortening .card-image {
  position: relative;
  background-color: #3b3054;
  position: absolute;
  padding: 0.7rem;
  border-radius: 100%;
  top: -30px;
  left: 30px;
}
main #shortening .card-image:nth-child(3) img {
  width: 40px;
  height: 40px;
}
main #shortening .shortened {
  margin-top: 2rem;
}
main #shortening .shortened ul {
  padding: 0;
  list-style: none;
}
main #shortening .shortened .link {
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1rem;
}
main #shortening .shortened .link li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #shortening .shortened .link li a {
  font: normal normal 700 16px/25px Poppins;
  color: #232127;
  text-decoration: none;
  width: 20%;
}
main #shortening .shortened .link li .aux {
  width: 27%;
}
main #shortening .shortened .link li .aux a {
  font: normal normal 700 16px/25px Poppins;
  color: #2acfcf;
  width: 20%;
}
main #shortening .shortened .link li .aux button {
  background-color: #2acfcf;
  padding: 0.5rem;
  width: 40%;
  border: none;
  outline: none;
  border-radius: 20px;
  color: #ffff;
  font: normal normal 500 16px/25px Poppins;
  width: 25%;
}
main #final {
  background: url("./images/bg-shorten-desktop.svg") #3b3054 no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3rem 0;
}
main #final .get-started, main #final .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #final .get-started h2 {
  font: normal normal 700 40px/50px Poppins;
  color: #fff;
}
main #final .get-started .btn {
  background-color: #2acfcf;
  padding: 0.5rem;
  width: 40%;
  border: none;
  outline: none;
  border-radius: 20px;
  color: #ffff;
  font: normal normal 500 16px/25px Poppins;
  margin-top: 1rem;
  width: 20%;
  padding: 0.7rem;
}

footer {
  background-color: #232127;
  padding: 2rem 0;
}

footer .row {
  display: flex;
  justify-content: space-evenly;
}
footer img {
  filter: brightness(0) invert(100%);
}
footer .col-lg-2 p {
  font: normal normal 400 20px/20px Poppins;
  color: #fff;
}
footer .col-lg-2 ul {
  list-style: none;
  padding: 0;
}
footer .col-lg-2 ul li a {
  font: normal normal 400 16px/20px Poppins;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
footer .social {
  display: inline-flex;
}
footer .social li {
  padding-right: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}/*# sourceMappingURL=style.css.map */